@model IEnumerable<Hostal_El_Eden.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            ResCheckInDate
        </th>
        <th>
            ResCheckOutDate
        </th>
        <th>
            Guests
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ResCheckInDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResCheckOutDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guests)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
