@model Hostal_El_Eden.Models.Room

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Room</legend>

    <div class="display-label">RoomNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoomNumber)
    </div>

    <div class="display-label">Beds</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Beds)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Floor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Floor)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
