<h2>Hotel’s picture gallery</h2>
<div class="gallery-main png">
	<div class="inner">
		<img data-Title="gallery-1" data-GalleryPictureID="1" alt="" src="@Url.Content("~/Content/images/gallery-1.jpg")" />
        <img data-Title="gallery-2" data-GalleryPictureID="2" alt="" src="@Url.Content("~/Content/images/gallery-2.jpg")" />
        <img data-Title="gallery-3" data-GalleryPictureID="3" alt="" src="@Url.Content("~/Content/images/gallery-3.jpg")" />
        <img data-Title="gallery-4" data-GalleryPictureID="4" alt="" src="@Url.Content("~/Content/images/gallery-4.jpg")" />
        <img data-Title="gallery-5" data-GalleryPictureID="5" alt="" src="@Url.Content("~/Content/images/gallery-5.jpg")" />
        <img data-Title="gallery-6" data-GalleryPictureID="6" alt="" src="@Url.Content("~/Content/images/gallery-6.jpg")" />
        <img data-Title="gallery-7" data-GalleryPictureID="7" alt="" src="@Url.Content("~/Content/images/gallery-7.jpg")" />
		<div class="prev galleryAction" data-galleryAction="prev"><img alt="" src="@Url.Content("~/Content/themes/template/images/prev.png")" class="png" /></div>
		<div class="next galleryAction" data-galleryAction="next"><img alt="" src="@Url.Content("~/Content/themes/template/images/next.png")" class="png" /></div>
	</div>
</div>

@section PageScripts
{
    <script src="@Url.Content("~/Scripts/jquery.bxGallery.1.1.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        currentImageNumber = 1;
        imageTitleString = "gallery-";

        $(document).ready(function () {


            $(".galleryAction").click(function () {
                currentImage = null;
                nextImage = null;

                //set title for current image
                currentImage = imageTitleString + currentImageNumber;

                //define what the next image is
                switch ($(this).attr("data-galleryAction")) {
                    case "prev":
                        {
                            currentImageNumber = (currentImageNumber == 1) ? 7 : (currentImageNumber - 1);
                        } break;
                    case "next":
                        {
                            currentImageNumber = ((currentImageNumber % 7) + 1);

                        } break;
                }
                nextImage = imageTitleString + currentImageNumber;


                //alert("Current=" + currentImage + " ---- Next=" + nextImage);

                changePictures(currentImage, nextImage);
            });

            //set the first image in the stage
            $(".gallery-main img[data-Title='gallery-1']").fadeIn();

            //add functionality when clicking on the side images
            $(".gallery-images ul li div img").click(function () {
                //set title for current image
                currentImageSelector = imageTitleString + currentImageNumber;

                nextImageSelector = $(this).attr("data-Title");

                currentImageNumber = $(this).attr("data-GalleryPictureID");

                changePictures(currentImageSelector, nextImageSelector);
            });
        });

        function changePictures(currentImageSelector, nextImageSelector) {
            currentImage = $(".gallery-main img[data-Title='"+currentImageSelector+"']");
            nextImage = $(".gallery-main img[data-Title='" + nextImageSelector + "']");

            //alert("changing pictures----- current="+currentImageSelector + "next="+nextImageSelector);
            //if the one fading out was just recently clicked, it will just be fading in, so we have to stop that animation
            if (currentImage.is(":animated")) {
                //fade out if it's currently fading in
                currentImage.stop().fadeTo(500, 0);
            }
            else {
                currentImage.fadeTo(500,0);
            }

            nextImage.fadeTo(500,1);
        }        

    </script>
}

@section Aside{
<div class="aside maxheight">
<!-- box begin -->
    <div class="box maxheight">
	    <div class="inner">
            <h3>Galer&iacute;a</h3>
            <div class="gallery-images">
				<ul>
					<li><div class="imgWrapper"><img data-Title="gallery-1" data-GalleryPictureID="1" alt="" src="@Url.Content("~/Content/images/gallery-1.jpg")" /></div></li>
					<li><div class="imgWrapper"><img data-Title="gallery-2" data-GalleryPictureID="2" alt="" src="@Url.Content("~/Content/images/gallery-2.jpg")" /></div></li>
					<li><div class="imgWrapper"><img data-Title="gallery-3" data-GalleryPictureID="3" alt="" src="@Url.Content("~/Content/images/gallery-3.jpg")" /></div></li>
					<li><div class="imgWrapper"><img data-Title="gallery-4" data-GalleryPictureID="4" alt="" src="@Url.Content("~/Content/images/gallery-4.jpg")" /></div></li>
					<li><div class="imgWrapper"><img data-Title="gallery-5" data-GalleryPictureID="5" alt="" src="@Url.Content("~/Content/images/gallery-5.jpg")" /></div></li>
                    <li><div class="imgWrapper"><img data-Title="gallery-6" data-GalleryPictureID="6" alt="" src="@Url.Content("~/Content/images/gallery-6.jpg")" /></div></li>
                    <li><div class="imgWrapper"><img data-Title="gallery-7" data-GalleryPictureID="7" alt="" src="@Url.Content("~/Content/images/gallery-7.jpg")" /></div></li>
				</ul>
			</div>
        </div>
     </div>
</div>
}